.Phonetics div {
  margin-top: 25px;
}
.Phonetics a {
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 10px;
  border-radius: 16px;
  text-decoration: none;
  color: #a98de8;
  transition: all 200ms ease-in-out;
}
.Phonetics a:hover {
  text-decoration: none;
  background-color: #a98de8;
  color: white;
  border: 1px solid #a98de8;
}
.Phonetics strong {
  opacity: 0.5;
}
